:root {
  --black: #111;
  --accent: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --bg-body: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --gray: rgba(255, 255, 255, 0.7);
  --gray-secondary: rgba(17, 17, 17, 0.7);
  --fonts: "Montserrat", sans-serif;
  --size-text: 14px;
  --line-height: 1.28;
  --letter-spacing: -0.02em;
}

body {
  font-family: var(--fonts);
  font-size: var(--size-text);
  color: var(--black);
  background-color: var(--bg-body);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

* {
  box-sizing: border-box;
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--accent);
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding: 0 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-container {
    gap: 138px;
  }
}

.header-logo-link {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--black);
  text-transform: uppercase;
  align-items: center;
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .header-logo-link {
    margin-right: 0;
  }
}

.button-burger {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

.burger-icon {
  stroke: #111;
}

.header-list-div {
  display: flex;
  gap: 28px;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .header-list-div {
    gap: 90px;
  }
}

@media screen and (max-width: 767px) {
  .header-list-div {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 20px;
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header-social-list {
  display: flex;
  gap: 14px;
}

.header-social-icon {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.mobile-modal {
  transform: translateY(-200%);
}
